# Exclude folders
bin/*
obj/*
.vs/*
packages/*

# Include release files
!bin/x64
!bin/x86
bin/x64/*
bin/x86/*
!bin/x64/Release
!bin/x86/Release
bin/x64/Release/*
bin/x86/Release/*
!bin/x64/Release/KeyDecorator.exe
!bin/x64/Release/*.dll
!bin/x86/Release/KeyDecorator.exe
!bin/x86/Release/*.dll
